# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/venv/ # Python virtual environment in any directory
venv/ # Python virtual environment
**/env/ # Python virtual environment in any directory
env/ # Python virtual environment
**/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
# Python
.pytest_cache/
.ipynb_checkpoints/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated folders
data/cache/
.vscode/
venv/
